* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
}
#navbar {
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
#logo,
#menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px 0;
}
#logo {
  flex: 1;
  color: #f38520;
}
#menu {
  flex: 2;
}
#menu ul li {
  list-style: none;
}

#menu ul li a {
  text-decoration: none;
  font-size: large;
  color: #f38520;
}
.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30%;
  border-bottom: 15px solid #f38520;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#country {
  padding: 10px 15px;
  border: none;
  outline: none;
  background: transparent;
  color: #f38520;
  font-weight: bold;
  font-size: 16px;
  appearance: none;
}
